<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='bulma.css') }}
    >
</head>
<body>

    
<section class="hero is-danger ">
  <div class="hero-body">
    <div class="">
      <p class="title is-2 mb-4">

        {{heading}}

    </p>
      <p class="subtitle mt-4">
        Go to login page &nbsp; &rightarrow;        &nbsp;  <a href="/" class="has-text-dark"> here</a>
    </p>
    </div>
  </div>
</section>
    
</body>
</html>